.miner-container
    background: grey
    border: 3px solid black
    position: relative
    width: 300px 
    display: flex
    flex-direction: column
    margin-top: 10px

.miner-container-top

    background: #444
    height: 35px
    display: flex
    flex-direction: row

    .miner-recipe-select
        padding-left: 10px
        width: 87%
        select 
            margin-top: 8px
            option

    .active-indicator
        width: 13%
        .indicator
            margin-top: 15%
            margin-left: 15%
            width: 70%
            height: 70%
            border-radius: 50%
            display: inline-block

.miner-container-bottom 
   
    height: 35px
    display: flex
    flex-direction: row
    border-top: 1px solid black

    .miner-coal-input
        width: 10%
        padding-left: 2%
        padding-top: 2%
        button
       
    .miner-progress
        width: 80% 
        padding-top: 10px
        padding-right: 5px
        padding-left: 5px
        
        .miner-progress-bar
            height: 15px
            border-radius: 5%
            
    .miner-resource-output 
        width: 10%
        padding-left: 2%
        padding-top: 2%
        button


.loop 
    width: 20px
    height: 20px

.green 
    background: green

.yellow 
    background: yellow

.red 
    background: red

.blue 
    background: blue

    