<div class = "miner-container">   
  
    <div class = 'miner-container-top'> 

        <div class = "miner-recipe-select">
            <select (change) = "onRecipeSelectionChanged($event)" [(ngModel)] = "currentSelection">
                <option *ngFor = "let o of dropdownOptions" [value] = "o.value">{{o.displayName}}</option>
            </select>
        </div>

        <div class="active-indicator">
            <div *ngIf="!activeRecipe" class = 'red indicator'></div>
            <div *ngIf="activeRecipe && !isRunning()" class = 'yellow indicator'></div>
            <div *ngIf="activeRecipe && isRunning()" class = 'green indicator'></div>
        </div>

    </div>

    <div class = 'miner-container-bottom' *ngIf = "activeRecipe">
 
        <div class = "miner-coal-input">
            <button  (click) = "transferCoal()">{{coalCount}}</button>
        </div>
        
        <div class = "miner-progress">
            <mat-progress-bar class = 'miner-progress-bar' mode="determinate" [value]="minerProgress()"></mat-progress-bar>
        </div>
        
        <div class = 'miner-resource-output'>
            <button  class = 'transfer-button' (click) = "transferOutput()">{{outputCount}}</button>
        </div>
    </div>
</div>