<style>
    .normal { 
        color: rgb(22, 158, 28);
    }

    .warning { 
        color: orange;
    }
    
    .error { 
        color: red;
    }

   
    .logger-window { 
        height:530px;
        overflow:auto;
    }

    .logger-console { 

    }

    .logger-input { 
        margin-left: 1rem;
        margin-top: 0.5rem;
        padding: 0.25rem;
        font-size: 20px;
        color:white;
        background: rgb(58, 54, 54);
        border: none;
        width: 760px;
    }
   
</style>

<div class = "logger-console"> 
    <input class = 'logger-input' (keyup.enter) = "onSubmitCommand()" [(ngModel)] = "commandString" >
</div>

<div class = "logger-window">
    <ul>
        <li *ngFor="let log of logs()">
            <span [class]="classMap[log.level]">[{{log.time}}] {{log.message}}</span><br>
        </li>
    </ul>
</div>
