<div class = 'container-hor'>

    <ResourceContainerTab 
        [resourceInventory] = "resourceInventory"></ResourceContainerTab>

    <div class = "factory-root">

        <mat-tab-group>
            
            <mat-tab label="Mining">
                <div class = "container-vert">
                    <div *ngFor="let miner of miners">
                       <Miner
                            [resourceTransferer] = "this.resourceTransferer"
                       ></Miner>
                    </div>
                </div>
            </mat-tab>        
         
            <mat-tab label="Refining">
                <div class = "container-vert">
                    <Smelter *ngFor = "let smelter of smelters"
                        [resourceTransferer] = "resourceTransferer"  
                        displayName="smelter.selectedRecipe.displayName"     
                    ></Smelter>
                </div>
            </mat-tab>

            <mat-tab label="Construction"> 
                <div class = "container-vert">   
                    <Assembler *ngFor="let assembler of availableAssemblers"
                        [inventoryPipe] = "this.resourceTransferer"
                    ></Assembler>                  
                </div>     
            </mat-tab>

            <mat-tab label="R&D">
                <div class = "research-container">   
                    <div class = "research-stat-section">
                        <ResearchStatistics></ResearchStatistics>
                    </div>
                    <div class = "research-resource-section">
                        <ResourceCenter *ngFor="let r of researchCenters"
                            [resourceTransferer] = "this.resourceTransferer"
                        ></ResourceCenter>                  
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>

