.resource-containers 
    width: 20%
    padding: 1rem
    border: 1px solid black

.factory-root 
    width: 80%
    padding: 1rem
    border: 1px solid black
    
    .progress_bar 
        width: 100%
        height: 20px

.container-hor
    display: flex
    flex-direction: row

.container-vert    
    display: flex
    flex-direction: column