<div class = 'container-hor'>
    <div class = "resource-containers container-vert">
        <ResourceContainer *ngFor="let r of resourceContainers"
            (onClick) = "onClickResource($event)"
            [resourceType] = "r.resourceType"
            [displayName] = "r.displayName"
            [inventory] = "resourceInventory"
        ></ResourceContainer>
    </div>
    
    <div class = "factory-root">
          
        <div class = "progress_bar">
            <mat-progress-bar mode="determinate" [value]="100 * (clickCount / expToNextLevel)"></mat-progress-bar>
        </div>

        <mat-tab-group>
            <mat-tab label="Mining">
                <div class = "container-vert">
                    <div *ngFor="let miner of miners">
                       <Miner
                            [resourceTransferer] = "this.resourceTransferer"
                       ></Miner>
                    </div>
                </div>
            </mat-tab>        
         
            <mat-tab label="Refining">
                <div class = "container-vert">
                    <Smelter *ngFor = "let smelter of smelters"
                        [resourceType] = 'smelter.selectedRecipe.resourceType'
                        [resourceTransferer] = "resourceTransferer"  
                        [dropdownOptions] = "smelterDropdownOptions" 
                        displayName="smelter.selectedRecipe.displayName"     
                    ></Smelter>
                </div>
            </mat-tab>
            <mat-tab label="Construction"> 
                <div class = "container-vert">   
                    <Assembler *ngFor="let assembler of availableAssemblers"
                        [inventoryPipe] = "this.resourceTransferer"
                    ></Assembler>                  
                </div>     
            </mat-tab>

            <mat-tab label="R&D"></mat-tab>

        </mat-tab-group>
    </div>
</div>

