<div class = 'container-hor'>

    <ResourceContainerTab 
        [resourceInventory] = "resourceInventory"></ResourceContainerTab>

    <div class = "factory-root">

        <mat-tab-group>
            
            <mat-tab label="Mining">
                <MiningTab [resourceTransferer] = "this.resourceTransferer"></MiningTab>
            </mat-tab>        
         
            <mat-tab label="Refining">
                <SmeltingTab [resourceTransferer] = "resourceTransferer" ></SmeltingTab>
            </mat-tab>

            <mat-tab label="Construction"> 
                <AssemblerTab [resourceTransferer] = "this.resourceTransferer"></AssemblerTab> 
            </mat-tab>

            <mat-tab label="R&D">
                <div class = "research-container">   
                    <div class = "research-stat-section">
                        <ResearchStatistics></ResearchStatistics>
                    </div>
                    <div class = "research-resource-section">
                        <ResourceCenter *ngFor="let r of researchCenters"
                            [resourceTransferer] = "this.resourceTransferer"
                        ></ResourceCenter>                  
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>

