.resource-container

    display: flex
    flex-direction: row
    border: 3px solid black
    margin: 5px
    width: 180px

    .resource-container-left
        display: flex
        flex-direction: column
        padding:5px
        border: 1px solid black
        width: 85%
        background: #4e4e4e
        .resource-title
        .resource-amount-display
            .resource-progress

    .resource-container-right
        padding: 5px
        border: 1px solid black
        width: 15%
       