<div class = "resource-container">
    <div class = "resource-container-left">
        <div class = "resource-title">
            <span>{{displayName}}: {{resourceCount}} / {{resourceLimit}}</span>
        </div>    
        <div class = "resource-amount-display">
            <mat-progress-bar class = 'resource-progress' mode="determinate" [value]="normalizedProgress"></mat-progress-bar>
        </div>
    </div>
    <div class = "resource-container-right">
        <button (click) = "onClickResource()" [disabled] = "!canClickResource">+</button>
    </div>
</div>