<div class = "smelter-container">   
  
    <div class = 'smelter-container-top'> 

        <div class = "smelter-recipe-select">
            <select (change) = "onRecipeSelectionChanged()" [(ngModel)] = "selectedResourceType">
                <option *ngFor = "let o of smelterDropdownOptions" [value] = "o.value">{{o.displayName}}</option>
            </select>
        </div>

        <div class = "smelter-coal-input">
            <button  (click) = "transferCoal()">{{smelter.coalBuffer.count}}</button>
        </div>
        
        <div class="active-indicator">
            <div *ngIf="!smelter.recipe" class = 'red indicator'></div>
            <div *ngIf="smelter.recipe && !smelter.running" class = 'yellow indicator'></div>
            <div *ngIf="smelter.recipe && smelter.running" class = 'green indicator'></div>
        </div>

    </div>

    <div class = 'smelter-container-bottom' *ngIf = "smelter && smelter.recipe">

        <div class = 'required-resources'>
            <div class = 'required-resource' *ngFor = "let ingredient of smelter.recipe.requiredResources">
                <button (click) = "transferRequiredResource(ingredient.resourceType)">{{ getAvailableResourceCount(ingredient.resourceType)}}</button>
            </div>
        </div>

        <div class = "smelter-progress">
            <mat-progress-bar class = 'smelter-progress-bar' mode="determinate" [value]="smelter.normalizedProgress"></mat-progress-bar>
        </div>
        
        <div class = 'smelter-resource-output'>
            <button class = 'transfer-button' (click) = "transferOutput()">{{smelter.outputBuffer.count}}</button>
        </div>
        
    </div>
    <div class = 'smelter-power-progress'>
        <mat-progress-bar class = 'smelter-power-progress-bar' mode="determinate" [value]="smelter.powerSource.normalizedPower"></mat-progress-bar>
    </div>

    <div  class = "smelter-debug" *ngIf = "displayDebug && smelter && smelter.recipe && state">
        <div>running: {{smelter.running}}</div>
        <div>progress: {{smelter.progress}} / {{smelter.recipe.duration}} [{{smelter.normalizedProgress}}]</div>
        <div>power: {{smelter.powerSource.currentPower}} / {{smelter.powerSource.maxPower}} [{{smelter.powerSource.normalizedPower}}]</div>
        <div>state: {{state.currentState}} </div>
    </div>
</div>
