<div class='assembler-container'>

    <div class = "assembler-container-top">
        <div class = "assembler-select">
            <select [(ngModel)]="selectedOption" (change)="onRecipeChanged()">
                <option *ngFor="let o of availableRecipes" 
                    [value]="o.value">
                    {{o.name}}
                </option>
            </select> 
        </div>
        
        <div class = "assembler-indicator">
            <div *ngIf="!activeRecipe" class = 'red indicator'></div>
            <div *ngIf="activeRecipe && !assembler.running" class = 'yellow indicator'></div>
            <div *ngIf="activeRecipe && assembler.running" class = 'green indicator'></div>
        </div>

    </div>

    
    <div *ngIf = "activeRecipe" class = "assembler-container-bottom">

        <div class = 'required-resources'>
            <div class = 'required-resource' *ngFor = "let ingredient of activeRecipe.requiredResources">
                <button (click) = "transferRequiredResource(ingredient.resourceType)">{{ getAvailableResourceCount(ingredient.resourceType)}}</button>
            </div>
        </div>
      
        <div class = "assembler-progress-section">
            <mat-progress-bar class = "assembler-progress-bar" mode="determinate" [value]="assemblerProgress()"></mat-progress-bar>
        </div>

        <div class = 'assembler-resource-output'>
            <button class = 'assembler-transfer-button' (click) = "pushOutputToSource()">{{outputCount}}</button>
        </div>

    </div>

    <div class = "assembler-debug" *ngIf="debug && assembler && assembler.state">
        <div>updateRate: {{assembler.state.updateRate}}</div>
        <div>state: {{assembler.state.currentState}}</div>
    </div>

</div>